---
import SiteLayout from "../../layouts/SiteLayout.astro";
import Metatags from "../../componentes/Metatags.astro";
const posts = await Astro.glob("../../../content/posts/*.md");
---

<SiteLayout>
  <Metatags
    slot="metatags"
    title="Blog"
    image="image.png"
    type="page"
    description="Ayoub Eddaoudi blog"
  />

  <section class="hero">
    <h1>Blog</h1>
    <p>I like to write about stuff i ive learned, most of the times when learning about some low level subject you will found it hard to found resources. That's why i decided to write about everything i learn along the way</p>
  </section>

  <h3>Posts</h3>
  {
    posts.slice(0, 4).map((post) => (
      <article>
        <h3>
          <a href={"/blog/" + post.frontmatter.slug}>
            {post.frontmatter.title}
          </a>
        </h3>
        <p>
          {post.frontmatter.description.length > 120 ? post.frontmatter.description.slice(0, 220).trim() + '...' : post.frontmatter.description}
        </p>
      </article>
    ))
  }
</SiteLayout>

<style>
  article {
    margin-bottom: 2rem;
  }

  .hero {
    margin-bottom: 2rem;
  }

	article h3 {
		margin-bottom: .8rem;
	}
  article h3 a::before {
    content: '#';
    position: relative;
    opacity: .5;
    text-decoration: none;
    display: inline-block;
  }

  article p {
    margin-top: 0;
  }
</style>
