---
import SiteLayout from "../../layouts/SiteLayout.astro";
const posts = await Astro.glob("../../../content/posts/*.md");
const categories: Array<any> = [];

posts.forEach((post) => {
  if (!post.frontmatter.categories) return;
  const res = post.frontmatter.categories.split(",").map((el) => el.trim());
  res.forEach((el) =>
    categories.push({
      categorie: el,
      posts: posts,
    })
  );
});
---

<SiteLayout>
  <h1>Categories</h1>
  {
    categories.map((post) => (
      <article>
        <h4>
          <a href={"/categories/" + post.categorie}>{post.categorie}</a>
        </h4>
        {post.posts.slice(0, 4).map((post: string) => (
          <a href={`/blog/${post.frontmatter.slug}`}>
            <p>{post.frontmatter.title}</p>
          </a>
        ))}
      </article>
    ))
  }
</SiteLayout>
