---
import Metatags from "../componentes/Metatags.astro";
import SiteLayout from "../layouts/SiteLayout.astro";
import PostCard from "../componentes/PostCard.astro";
import ProjectCard from "../componentes/ProjectCard.astro";
import Newsletter from "../componentes/Newsletter.astro";
---

<SiteLayout>
  <Metatags
    slot="metatags"
    title="Ayoub Eddaoudi"
    image="image.png"
    type="page"
    description="Ayoub Eddaoudi personal website"
  />

  <section class="hero">
    <h1>Ayoub Eddaoudi</h1>
    <p>I write code, otherwise i think about it. Writting about projects, problems, tips and tricks</p>
  </section>

  <section class="posts">
    <h2>Fetured Posts</h2>
		<PostCard index="01" title="Post title" />
		<PostCard index="02" title="Post title" />
		<PostCard index="03" title="Post title" />
		<PostCard index="04" title="Post title" />
  </section>

  <section class="projects">
    <h2>Projects</h2>
    <div class="projects-container">
      <ProjectCard title="soon ..." />
      <ProjectCard title="soon ..." />
      <ProjectCard title="soon ..." />
    </div>
  </section>

	<Newsletter />

</SiteLayout>

<style>
	section {
		margin-bottom: 2rem;
	}
	section > h2 {
		margin-bottom: .8rem;
	}
  .projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(180px, 1fr));
  }
</style>
