<footer>
  <div>
    <p>Pages</p>
    <a href="/">Home</a>
    <a href="/blog">Blog</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
  </div>
  <div>
    <p>Social</p>
    <a href="https://github.com/ayoubedd" target="_blank">Github</a>
    <a href="https://www.linkedin.com/in/ayoubeddaouddi/" target="_blank">Linkedin</a>
  </div>
  <div>
    <p>Projects</p>
    <a href="#">Link</a>
    <a href="#">Link</a>
    <a href="#">Link</a>
  </div>
</footer>

<style>
  footer {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 4rem;
  }
  footer > div > h5 {
    margin-bottom: 0.8rem;
  }
  footer > div {
    display: block;
    width: 100%;
  }
  footer > div > a {
    display: block;
    padding: 0.2rem 0;
  }
</style>
