<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
</header>

<style>
  header {

  }

  header ul {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    list-style-type: none;
  }

  header ul li {
    padding: 1rem 1.5rem;
  }

  header nav ul li:first-child() {
    padding: 1rem 1.5rem 1rem 0rem;
  }

  header ul li a {
    text-decoration: none;
  }

  header ul li a {
    color: black;
  }

  header ul li a:hover {
    text-decoration: underline;
  }

  header ul li a:visited {
    text-decoration: none;
  }
</style>
