<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
  <button class="mode-btn">Dark</button>
</header>

<script>

  ["/", "/blog", "/about"].forEach((path, idx) => {
    if (window.location.pathname == path)
      document.querySelector(`nav ul li:nth-child(${idx + 1})`)?.classList.add('active');
  })

  const button = document.querySelector('.mode-btn');

  const theme = localStorage.getItem('theme');
  if (theme)
    document.body.setAttribute('theme', theme);
  else
    document.body.setAttribute('theme', 'dark');

  button?.addEventListener('click', () => {
    let themed;
    const currentTheme = document.body.getAttribute('theme');
    if (currentTheme == 'dark')
      themed = 'light';
    else
      themed = 'dark';
    document.body.setAttribute('theme', themed);
    localStorage.setItem('theme', themed);
  });
</script>

<style>
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
  }

  header ul {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    list-style-type: none;
  }

  header ul li {
    padding: 1rem 1.5rem;
  }

  header nav ul li:first-child() {
    padding: 1rem 1.5rem 1rem 0rem;
  }

  header ul li a {
    text-decoration: none;
  }

  header ul li a:hover {
    text-decoration: underline;
  }

  header ul li a:visited {
    text-decoration: none;
  }

  .mode-btn {
    cursor: pointer;
  }

  .active {
    font-weight: 800;
  }
</style>
