---
const { title, index } = Astro.props;
---

<div class="post-card">
	<span>{index}</span>
	<h4>{title}</h4>
</div>

<style>
	h4 {
		display: inline-block;
		font-size: 1.3rem;
		font-weight: 500;
	}
	span {
		font-size: 1.2rem;
		opacity: .8;
		padding-right: .5rem;
	}
	.post-card {
		border-bottom: 1px solid var(--color-text);
		padding: .5rem 0;
	}
</style>
