---
import SiteLayout from "../../../layouts/SiteLayout.astro";
const posts = await Astro.glob("../../../../content/posts/*.md");
const allTags: Array<any> = [];

posts.forEach((post) => {
  if (!post.frontmatter.tags) return;
  const res: Array<string> = post.frontmatter.tags.split(",").map((el:string) => el.trim());
  res.forEach((el) =>
    allTags.push({
      categorie: el,
      posts: posts,
    })
  );
});
---

<SiteLayout>
  <h1>Tags</h1>
  {
    allTags.map((post) => (
      <article>
        <h4>
          <a href={"/blog/tags/" + post.categorie}>{post.categorie}</a>
        </h4>
        {post.posts.slice(0, 4).map((post: string) => (
          <a href={`/blog/${post.frontmatter.slug}`}>
            <p>{post.frontmatter.title}</p>
          </a>
        ))}
      </article>
    ))
  }
</SiteLayout>
