---
import Container from "../componentes/Container.astro";
import Header from "../componentes/Header.astro";
import Footer from "../componentes/Footer.astro";
---

<html lang="en">
  <head>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="robots" content="noindex">
    <slot name="metatags" />
    <link href="/assets/css/global.css" rel="stylesheet" />
    <link href="/assets/fonts/jetbrains.css" rel="stylesheet" />
    <link href="/assets/css/main.css" rel="stylesheet" />
  </head>
  <body theme="dark">
    <Container>
      <Header />
      <slot />
      <Footer />
    </Container>
  </body>
</html>
