---
import Container from "../componentes/Container.astro";
import Header from "../componentes/Header.astro";
import Footer from "../componentes/Footer.astro";
---

<html lang="en">
  <head>
    <title>Ayoub Eddaoudi</title>
  </head>
  <body>
    <Container>
      <Header />
      <slot />
      <Footer />
    </Container>
  </body>
</html>
