---
import Container from "../componentes/Container.astro";
import Header from "../componentes/Header.astro";
import Footer from "../componentes/Footer.astro";
import { SEOMetadata as Seo } from "astro-seo-metadata";
---

<html lang="en">
  <head>
    <title>Ayoub Eddaoudi</title>
    <Seo
      siteName={"Le Website"}
      title={"Le cool title"}
      description={"Le insightful description"}
      image={"http://example.com/the_image_url-preferably_absolute.jpg"}
      favicon={"/favicon.svg"}
      author="Julian Cataldo"
      copyright="ISC"
      astroSitemap={true}
      canonicalUrl={Astro.url}
      type={"website"}
      astroGenerator={true}
    />
  </head>
  <body>
    <Container>
      <Header />
      <slot />
      <Footer />
    </Container>
  </body>
</html>
